.search-form {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
}

.search-form-bg {
  background-image: url('../../images/book-library2.jpg');
  background-size: cover;
  background-position: center;
  background-color: #f0f0f0;
  height: 70vh; 
  padding: 6rem 0;
  border-radius: 50px;
}

.search-prompt {
  font-size: 50px; 
  font-weight: bold; 
  font-family: "Georgia", serif; 
  margin-bottom: 20px;
}

.search-form-content {
  align-items: center;
}

.search-form-elem {
  display: flex;
  align-items: center;
  padding: 0.8rem 2rem;
  border-radius: 2.5rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.search-form-elem .form-control {
  flex: 1;
  font-size: 1.6rem;
  padding: 0.4rem 1rem;
  border: none;
  outline: none;
}

.search-form-elem .form-control::placeholder {
  opacity: 0.7;
}

.search-form-elem button {
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 1rem;
}
