.profile-other {
    background-color: transparent;
    color: #333;
    font-family: 'Caveat', cursive;
}

.profile-other_banner {
    background: url('../../images/home-bg1.jpg') center/cover no-repeat;
    position: relative;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.banner_info_container {
    height: 80%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-other_user-avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.profile-other_username {
    text-align: center;
    font-family: "Cursive Fonts";
    font-size: 3em;
    font-weight: bold;
    color: black;
}

.follow-section,
.likes-comments-section {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.follow-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.follow-section h3 {
    margin-bottom: 10px;
}

.follow-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
}

.follow-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.follow-item img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.book-section ul {
    list-style: none;
    padding-left: 0;
}

.book-section li {
    margin-bottom: 10px;
}
