.book-details {
  padding: 6rem 0;
}

.back-btn {
  margin-left: 20px;
  margin-bottom: 2.6rem;
  transition: var(--transition);
}

.back-btn:hover {
  color: var(--purple-color);
}

.back-btn span {
  margin-left: 1rem;
}

.book-details-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.book-details-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.book-details-img img {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
  border: 1px solid var(--light-gray-color);
  border-radius: 8px;
}

.book-details-info {
  max-width: 400px;
  padding: 1.4rem;
  background-color: var(--light-gray-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  overflow: hidden;
}

.book-details-item {
  margin-bottom: 1.4rem;
}

.book-details-item.description {
  opacity: 0.8;
}

/* Media Query */
@media screen and (min-width: 768px) {
  .book-details-content {
    flex-direction: row;
    gap: 0;
  }

  .book-details-img {
    padding: 0 6rem 0 2rem;
  }

  .book-details-img img {
    max-width: 100%;
  }
}
