.recent-login-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
/* .recent-login-header-icon {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #007bff;
} */
  
  .recent-login-list {
    display: grid;
    gap: 20px;
  }
  
  .recent-login-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    /* box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2); */
  }
  
  .recent-login-avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .recent-login-info {
    margin-left: 15px;
  }
  
  .recent-login-username {
    font-size: 1.2rem;
    color: #007bff;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .recent-login-username:hover {
    color: #0056b3;
  }
  
  .recent-login-time {
    margin-top: 5px;
    font-size: 0.9rem;
    color: #6c757d;
  }

  .recent-login-avatar {
    position: relative;
  }
  
  .recent-login-avatar:hover .avatar-username {
    display: block;
  }
  
  .avatar-username {
    display: none;
    position: absolute;
    bottom: -30px; /* 调整这个值来控制用户名显示的位置 */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap; /* 避免文本折行 */
  }
  
  /* Light mode styles */
.light .recent-login-container {
    background-color: #f8f8f8;
    color: #333333;
}
  
.light .recent-login-title {
    border-bottom: 1px solid #dddddd;
}
  
.light .recent-login-item {
    background-color: transparent;
    border-bottom: 1px solid #dddddd;
}

.light .recent-login-username {
    color: #333333;
  }
  
  .light .recent-login-username:hover {
    color: #111111;
  }
  
  
.light .recent-login-item:hover {
    background-color: #f0f0f0;
}
  
  /* Dark mode styles */
.dark .recent-login-container {
    background-color: #333333;
    color: #ffffff;
}
  
.dark .recent-login-title {
    border-bottom: 1px solid #555555;
}
  
.dark .recent-login-item {
    background-color: transparent;
    border-bottom: 1px solid #555555;
}
  
.dark .recent-login-username {
    color: #ffffff;
  }
  
.dark .recent-login-username:hover {
    color: #dddddd;
}
  
.dark .recent-login-item:hover {
    background-color: #555555;
}
  